<section>
    <div>
        <div>
            {{user.user}}
        </div>
        <div>
            {{!-- pfp --}}
            {{#if user.bio}}
            {{user.bio}}
            {{/if}}
            <button class='button' id='edit-button'>Edit Profile</button>
        </div>
    </div>
    {{#if user.posts}}
    <ul>
        <h1>posts</h1>
        {{#each user.posts as |post|}}
        <li>
            <div>
                <a href='/post/{{id}}'>
                    {{> post-partials}}
                </a>
                <button class='button' id='delete-button' data-delete={{id}}>delete</button>
                <button class='button' id='edit-button' data-edit={{id}}>edit</button>
            </div>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</section>


{{!-- modal to edit profile --}}
<div class='modal' id='edit-profile'>
    <div class="modal-background" id='profile-background'></div>
    <div class="modal-content">
        <div class='card mx-6'>
            <form id='profile'>
                <h2>Edit Profile</h2>
                <div class='field'>
                    <div>
                        {{!-- area for the picture upload --}}
                        <h4 class="image header"><label for="image_url">Upload a photo (required)</label></h4>
                        <div class='control'>
                            <input type="file" id="picture-url" name="image_url">
                        </div>
                    </div>
                    <div>
                        {{!-- area for bio --}}
                        <label for='edit-bio'>Edit Bio:</label>
                        <div class='control'>
                            <textarea class='textarea' placeholder='' id='edit-bio'></textarea>
                        </div>
                    </div>
                    <div>
                        {{!-- area for favGames --}}
                        <label for='edit-favGames'>List your favorite games:</label>
                        <div class='control'>
                            <textarea class='textarea' placeholder='Seperate each game with a comma...'
                                id='game-content'></textarea>
                        </div>
                    </div>
                    <div class='control'>
                        <button type='submit' class='button'>submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#if user.posts}}
{{! modal to edit a post }}
<div class="modal" id="edit">
    <div class="modal-background" id='edit-background'></div>
    <div class="modal-content">
        <div class="card">
            <form id="edit-post">
                <div class="title is-1">Edit Post</div>
                <div class="field">
                    {{! title field form }}
                    <div>
                        <input class="input" id="edit-title-field" />
                    </div>
                    {{! comment field form }}
                    <div>
                        <input class="textarea" id="edit-post-field" />
                    </div>
                    {{! submit button }}
                    <div>
                        <button class="button" type="submit">Submit Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{/if}}

<script type='text/javascript' src='/js/profileForm.js'></script>