<section>
    <div>
        <div id="profile-picture">
            <img class="is-rounded" src="/images/default-pfp.png" alt="">
        </div>
        <div class='content' id="user-bio">
            {{#if user.profile.user_bio}}
            <p>{{user.profile.user_bio}}</p>
            {{else}}
            <p>Edit your profile to show you bio here!</p>
            {{/if}}
        </div>
    </div>
</section>

<section>
    <div>
        <div class="content">
            {{user.user}}
        </div>
        <div>
            <button class='button' id='edit-profile-button'>Edit Profile</button>
        </div>
    </div>
    {{#if user.posts}}
    <ul>
        {{#each user.posts as |post|}}
        <li>
            <div>
                <a href='/post/{{id}}'>
                    {{> post-partials}}
                </a>
                <button class='button' id='delete-button' data-delete={{id}}>Delete</button>
                <button class='button' id='edit-button' data-edit={{id}}>Edit</button>
            </div>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</section>


{{!-- modal to edit profile --}}
<div class='modal' id='edit-profile'>
    <div class="modal-background" id='profile-background'></div>
    <div class="modal-content">
        <div class='card mx-6 px-3'>
            <form class='content' id='profile'>
                <div class='is-flex is-justify-content-center'>
                    <h2>Edit Profile</h2>
                </div>
                <div class='field'>
                    <div>
                        {{!-- area for the picture upload --}}
                        <h4 class="image header"><label for="image_url">Upload a photo (required)</label></h4>
                        <div class='control mb-3'>
                            <input type="file" id="picture-url" name="image_url">
                        </div>
                    </div>
                    <div>
                        {{!-- area for bio --}}
                        <label class='mt-3' for='edit-bio'>Edit Bio:</label>
                        <div class='control'>
                            <textarea class='textarea mb-3 ' placeholder='' id='edit-bio' autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div>
                        {{!-- area for favGames --}}
                        <label class='mt-3' for='edit-favGames'>List your favorite games:</label>
                        <div class='control'>
                            <textarea class='textarea mb-3' placeholder='Seperate each game with a comma...'
                                id='game-content' autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class='control is-flex is-justify-content-center'>
                        <button type='submit' class='button mb-3'>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#if user.posts}}
{{! modal to edit a post }}
<div class="modal" id="edit">
    <div class="modal-background" id='edit-background'></div>
    <div class="modal-content">
        <div class="card">
            <form id="edit-post">
                <div class="title is-1">Edit Post</div>
                <div class="field">
                    {{! title field form }}
                    <div>
                        <input class="input" id="edit-title-field" autocomplete="off" />
                    </div>
                    {{! comment field form }}
                    <div>
                        <input class="textarea" id="edit-post-field" autocomplete="off" />
                    </div>
                    {{! submit button }}
                    <div>
                        <button class="button" type="submit">Submit Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{/if}}

<script type='text/javascript' src='/js/profileForm.js'></script>